<div class="centered" ng-controller="ItemsController">
  <h1 class="restaurant-name">{{restaurant.name}}</h1>
  <ul class="no-list">
    <button ng-click="tagListOpen = !tagListOpen">Select by Tags</button>
    <button ng-click="trendListOpen = !trendListOpen">Trending</button>

    <div ng-show="tagListOpen" id="tagList">
      <div ng-repeat="(key, value) in tagFilters | groupBy: 'type'">
        <p>{{ key | uppercase }}: </p>
        <div ng-repeat="tagFilter in value">
          <button class="button round medium tag-filter{{tagFilter.state}}" ng-class="{'include': tagFilter.state == 1, 'exclude': tagFilter.state == 2}" ng-click="toggleTagState(tagFilter)">{{tagFilter.name}}</button>
        </div>
      </div>
    </div>

    <div ng-repeat="item in popularItems" ng-show="trendListOpen" id="trendList">
      <p>{{item.name}}</p>
      <a ng-href="/restaurants/{{restaurantId}}/menuItems/{{item.id}}">
      <img src="{{item.photo_url}}" width="200">
      <p>Item: {{item.name}}</p>
      <p>Description: {{item.description}}</p>
      <p>Price:  {{ item.price | currency : $ : 2 }}</p>
    </div>

    <div ng-repeat="menu in restaurant.menus">
      <h3>Menu: {{menu.name}}</h3>
      <div ng-repeat="section in menu.sections">
        <p>Section: {{section.name}}</p>
        <hr>
        <li ng-repeat="item in section.items | matchClickedItems:tagFilters">

          <a ng-href="/restaurants/{{restaurantId}}/menuItems/{{item.id}}">
            <p>Item: {{item.name}}</p>
            <p>Price:  {{ item.price | currency : $ : 2 }}</p>
          </a>

          <label>Tags:</label>
          <p id="tag-name">
            <span ng-repeat="diet in item.diets">
              {{diet.name}}&nbsp;
            </span>
            <span ng-repeat="taste in item.tastes">
              {{taste.name}}&nbsp;
            </span>
            <span ng-repeat="ingredient in item.ingredients">
              {{ingredient.name}}&nbsp;
            </span>
          </p>

          <label>Favorites:</label>
          <i class="fi-heart"> {{item.favorites.length}}</i>

          <hr/>
        </li>
      </div>
    </div>
  </ul>
</div>
