<div ng-controller="ItemsController">
  <!-- For every tag object (with name and state) in var tagFilters, iterate.  -->
  <div ng-repeat="tagFilter in tagFilters">
    <!-- On the click event, run the toggleTagState fn to change the tag object's state property. -->
    <button class="tag-filter{{tagFilter.state}}" ng-class="{'include': tagFilter.state == 1, 'exclude': tagFilter.state == 2}" ng-click="toggleTagState(tagFilter)">{{tagFilter.name}}</button>
  </div>

  <h2>
    Menu
  </h2>
  <hr/>
  <ul>
    <li ng-repeat="item in menuItems | filter:customTagFilter">
      <p><img src="{{item.photo_url}}" width="200"></p>
      <p>Item: {{item.name}}</p>
      <p>Description: {{item.description}}</p>
      <p>Price: ${{item.price}}</p>
      <label>Tags: </label>
      <ul>
        <li ng-repeat="diet in item.diets">
          {{diet.name}}
        </li>
        <li ng-repeat="ingredient in item.ingredients">
          {{ingredient.name}}
        </li>
        <li ng-repeat="taste in item.taste">
          {{taste.name}}
        </li>
      </ul>
      <hr/>
    </li>
  </ul>
</div>
