<div ng-controller="UserController">
  <h3>
    Hello, {{user.username}}
  </h3>
  <p>
    member since: {{user.created_at | date: 'MM/yyyy'}}
  </p>

  <div>
    <h4>
      Favorited Items:
    </h4>
    <ol>
      <li ng-repeat="item in user.items">
        <p>
          <a ng-href="#restaurants/{{item.section.menu.restaurant.id}}/menuItems/{{item.id}}">
            {{item.name}}
          </a>
          from
          <a ng-href="#restaurants/{{item.section.menu.restaurant.id}}/menuItems">
            {{item.section.menu.restaurant.name}}
          </a>
        </p>
      </li>
    </ol>
  </div>
</div>
