/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require icon

 */

body {
  font-family: 'Josefin Slab', sans-serif;
}

.restaurant-name {
  font-size: 2.3rem;
}

#restaurant-list {
  margin-top: 1rem;
}

.restaurant-logo {
  max-height: 12rem;
  max-width: 12rem;
}

div.ng-scope {
  display: inline;
}



/* Nav Bar */
.title-area {
  padding-top: 0.3%;
}

.welcome{
  color: white;
  padding-top: 3%;
  padding-right: 1%;
  text-align: right;
  width: 105%;
  float: right;
}



/* Tags */
#tag-name {
  font-size: .95rem;
}

button.tag-filter1 {
  background-color: #078446;
}

button.tag-filter1:hover {
  background-color: #389c6a;
}

button.tag-filter1:focus {
  background-color: #078446;
}

button.tag-filter2 {
  background-color: #232a35;
}

button.tag-filter2:hover {
  background-color: #4e545d;
}

button.tag-filter2:focus {
  background-color: #232a35;
}



/* Item Show */
#item-img {
  display: block;
  margin: 10% auto;
  margin-top: 10%;
  max-width: 85%;
  max-height: 85%;
}

.liked {
  color: #ff3333;
  font-size: 7rem;
}

.unliked {
  font-size: 7rem;
  color: #ffeaea;
}



/*Defaults*/
.centered {
  text-align: center;
}

.no-list {
  list-style: none;
}
