/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require icon

 */

div.ng-scope {
  display: inline;
}

button.tag-filter1 {
  background-color: green;
}

button.tag-filter1:hover {
  background-color: green;
}

button.tag-filter2 {
  background-color: red;
}

button.tag-filter2:hover {
  background-color: red;
}

.welcome{
  color: white;
  padding-top: 10px;
  padding-right: 10px;
}

.largeicon {
  font-size: 8em;
}

.largeicon:hover {
  opacity: 0.3;
}

.red {
  color: #ff3333;
}
