/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'foundation-icons';

/*Defaults*/
.inline {
  display: inline;
}

.ng-scope {
  display: inline;
}

.no-list {
  list-style: none;
}

body {
  font-family: 'Josefin Slab', sans-serif;
}

.centered {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.overflow {
  overflow: visible;
}

/*
.asdf {
  background-image: url("http://images.ilovewallpaper.co.uk/images/products/1427719141-28195200.jpg");
  opacity: 0.5;
}
*/


/* Nav Bar */
.title-area {
  padding-top: .4%;
}

.welcome{
  text-align: right;
  overflow: visible;
}

.row {
  margin-bottom: 1rem;
}



/* Restaurant Show */
.restaurant-name {
  font-size: 2.3rem;
}

#restaurant-list {
  margin-top: 1rem;
}

.restaurant-logo {
  max-height: 12rem;
  max-width: 12rem;
}



/* Tags */
#tag-name {
  font-size: .95rem;
}

button.tag-filter1 {
  background-color: #078446;
}

button.tag-filter1:hover {
  background-color: #389c6a;
}

button.tag-filter1:focus {
  background-color: #078446;
}

button.tag-filter2 {
  background-color: #232a35;
}

button.tag-filter2:hover {
  background-color: #4e545d;
}

button.tag-filter2:focus {
  background-color: #232a35;
}

button {
  outline-color: #470400;
}

.button-false {
  display: none;
}


/* Menu Show */
#price {
  font-size: 1rem;
}


/* Item Show */
#item-img {
  display: block;
  margin: 10% auto;
  margin-top: 10%;
  max-width: 100%;
  max-height: 100%;
}

.liked {
  color: #aa1919;
  font-size: 7rem;
}

.unliked {
  font-size: 7rem;
  color: #eccccc;
}



/* Animations */
.fade.ng-hide {
  transition: 1s linear all;
  opacity:0;
}

.fade.ng-hide-add {
  transition: 0s linear all;
}

.fade.ng-hide-remove {
  transition: 1s linear all;
}



/* Footer */
footer {
  padding-top: 5%;
  padding-bottom: 1%;
}
